# customized
MFGPextreme/core/__pycache__/
MFGPextreme/examples/.ipynb_checkpoints


MFGPextreme/examples/oscillator/data/
MFGPextreme/examples/oscillator/job.sh
MFGPextreme/examples/oscillator/a.log
MFGPextreme/examples/oscillator/__pycache__/
MFGPextreme/examples/oscillator/.ipynb_checkpoints


MFGPextreme/examples/forrester/data/
MFGPextreme/examples/forrester/job.sh
MFGPextreme/examples/forrester/a.log
MFGPextreme/examples/forrester/__pycache__/
MFGPextreme/examples/forrester/.ipynb_checkpoints